root = true

[*]
charset = utf-8
indent_style = space
; default for most file types
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

; imperative languages use a different indent_size
[*.{cpp,h}]
indent_size = 4

; don't fight VS
[*.sln]
indent_style = tab

; don't fight VS
[*.vcxitems]
charset = utf-8-bom
insert_final_newline = false

; don't fight VS
[*.vcxitems.filters]
insert_final_newline = false

; don't fight VS
[*.vcxproj.filters]
insert_final_newline = false

; don't fight Git
[.gitmodules]
indent_style = tab
